body {
    background-image: linear-gradient(to bottom, #87CEEB, #0d83f9); /* Replace the color codes with your desired gradient colors */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
a {
    text-decoration: none;
}
button {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    --c: goldenrod;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

button span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

button:hover {
    color: black;
}

button:hover span {
    transform: translateY(0) scale(2);
}

button span:nth-child(1) {
    --n: 1;
}

button span:nth-child(2) {
    --n: 2;
}

button span:nth-child(3) {
    --n: 3;
}

button span:nth-child(4) {
    --n: 4;
}
h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1vw;
    letter-spacing: 0.1em;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px; /* Adjust margin to control the distance from the edge of the container */
    color: #eee;
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    font-size: 1vw; /* You can adjust the font size as needed */
    position: absolute;
    top: 3%; /* Set top to 100% to place it directly below the h3 */
    left: 0; /* Set left to 0% to align with the left edge */
    margin: 10px; /* Adjust margin to control the distance from the h3 */
    color: #eee;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.673);
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    font-size: 3vw;
}
#muteButton {
    position: absolute;
    top: 0; /* Adjust the top position as needed */
    right: 0; /* Adjust the right position as needed */
    width: 3vw; /* Adjust the width as needed */
    height: 3vw; /* Adjust the height as needed */
    border-radius: 50%;
    background-color: lightblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.2); /* Adjust the shadow size as needed */
    transition: background-color 0.3s, transform 0.2s;
}


#muteButton:hover {
    background-color: rgb(154, 190, 202); /* Darker blue on hover */
    transform: scale(1.05); /* Slight scale-up on hover */
}
#muteImage {
    /* Center the image within the button and adjust its size */
    display: block;
    margin: 0 auto;
    width: 3vw; /* Adjust the width to your desired size */
    height: 3vh; /* Adjust the height to your desired size */
    border: "none";
}
button {
    background-color: lightblue;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    width: 100px; /* Adjust the width as needed */
    margin: 5px; /* Add some margin between buttons */
    border-radius: 12px; /* Adjust the border-radius to control the roundness */
    transition: background-color 0.3s;
}
button:hover {      
    background-color: rgba(118, 221, 255, 0.8); /* Adjust the opacity (last value) as needed */
}
#imageContainer {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#mainImage, #newImage {
    width: 60vw; /* 50% of the viewport width */
    height: 65vh; /* 50% of the viewport height */
    max-width: 100%; /* Maintain aspect ratio */
    max-height: 100%; /* Maintain aspect ratio */
    display: block; /* Make sure the image is a block element */
    margin: auto; /* Center the image horizontally */
    border: 2px solid rgba(255, 255, 255, 0.537);
    border-radius: 10px;
}


input[type="text"] {
    padding: 10px;
    font-size: 1vw;
    border: 2px solid lightblue;
    border-radius: 5px;
    width: 15vw;
    height: 1vh;
    max-width: 100%;
    max-height: 100%;
    margin: 10px;
    outline: none; /* Remove the default input outline */
    border-color: #1E90FF; /* Change border color when focused */
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.5); /* Add a subtle box shadow when focused */
}
#returnButton {
    background-color: #1e8fff00; /* Green background color */
    color: rgba(255, 255, 255, 0.651); /* Text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1vw;
}

/* Hover effect for the button */
#returnButton:hover {
    background-color: #87CEEB; /* Darker green color on hover */
}

.congratulations-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: none;
    color: white;
    padding: 20px;
    border-radius: 5px;
    font-size: 48px;
    text-align: center;
    z-index: 100; /* Adjust the z-index to ensure it's on top of other elements */
}
@media (max-width: 768px) {
    body {
        /* Adjust styles for phones here */
        background-image: linear-gradient(to bottom, #87CEEB, #1E90FF); /* Example color change */
        height: 100vh;
        margin: 0;
        height: 60vh;
        font-size: 17px;
        overflow: hidden;
    }

    button {
        font-size:3vw;
        height: 6vh;/* Adjust font size for buttons on phones */
        width: 20vw;/* Adjust font size for buttons on phones */
        /* Other phone-specific styles here */
    }

    h3 {
        font-size: 3vw; /* Adjust font size for h3 on phones */
        /* Other phone-specific styles here */
    }
    h1 {
        font-size: large;
    }
    #mainImage, #newImage {
        width: 100vw; /* 50% of the viewport width */
        height: 40vh; /* 50% of the viewport height */
    }

    #muteButton {
        position: absolute;
        top: 0vh; /* Adjust the top position as needed */
        right: 0vw; /* Adjust the right position as needed */
        width: 10vw; /* Adjust the width as needed */
        height: 10vw; /* Adjust the height as needed */
        border-radius: 50%;
        background-color: transparent; /* Make the background transparent */
        color: rgba(255, 2, 2, 0);
    }
    
    #muteImage {
        display: block;
        margin: 0;
        width: 13vw; /* Adjust the width to your desired size */
        height: 3vh; /* Adjust the height to your desired size */
        border: none;
    }
    
    #muteButton:hover {
        background-color: transparent; /* Make the background transparent on hover */
    }
    #imageContainer {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    input[type="text"] {
        overflow: hidden;
        padding: 2vh 4vw; /* Adjust the padding as needed */
        font-size: 17px!important; /* Adjust the font size as needed */
        border: 1vh solid lightblue; /* Adjust the border width as needed */
        border-radius: 1vw; /* Adjust the border-radius as needed */
        width: 50vw; /* Adjust the width as needed */
        height: 1.5vh; /* Adjust the height as needed */
        max-width: 100%; /* Maintain aspect ratio */
        max-height: 100%; /* Maintain aspect ratio */
        margin: 2vh;
        outline: none;
        border-color: #389cff;
        box-shadow: 0 0 2vh rgba(30, 144, 255, 0.5);
    }
        #returnButton {
        font-size:1.5vh;
    }
}
